
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    color: #000000;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    
    width: 90%;
    height: 100%;
    margin: auto;    
    padding: 0px; 
}

.ajaxFeedback {
    padding-left: 50px;
    position: absolute;
    left: 300px;
    top: 70px;
}

.indicator-content {
    font-size: 10pt;
    font-style: italic;
}

/* *** Header and page Sections ********************************************* */

.container {
    width: 970px;
    height: 100%;
    position: relative;
}

.top {
    width: 100%;
    height: 65px;
    text-align: center;
    line-height: 65px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #d6d6d6;
}

.left {
    float: left;
    width: 305px;
    height: 100%;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}

.right {
    float: left;
    width: 632px;
    height: 100%;
    padding-left: 30px;
    border-right: 1px solid #d6d6d6;
}

.top img {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

.title {
    text-transform: uppercase;
    text-align: left;
    font-size: 22pt;
    font-family: 'Rajdhani', sans-serif;
}

.bottom {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;
}

/* *** Menu ***************************************************************** */

.menu {
    background-image: url("../img/menu-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #000000;
    height: 100%;
    color: #95a0aa;
}

.menu nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu .section, .menu .item {
    line-height: 50px;
    font-size: 12pt;
    vertical-align: middle;
    border-bottom: 1px solid #474750;
    clear: both;
}

.menu .section {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 25px;
    padding-left: 30px;
}

.menu-item-wrapper {
    cursor: pointer;
    width: 100%;
    height: 50px
}

.disabled {
    cursor: auto;
    background-color: #474750;
}

.menu-item-wrapper .icon {
    float: left;
}

.menu-item-wrapper img {
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding-right: 20px;
}

.menu-item-wrapper .arrow {
    float: right;
}

.menu .selected {
    background-color: #797979;
    color: #ffffff;
}

/* *** Page content (bottom right) ****************************************** */

.content {
    padding-top: 25px;
}

/* *** Panel per menu *** */

.panel {
    display: none;
}

.panel-header {
    height: 50px;
    width: 100%;
    line-height: 50px;
}

.panel-header .icon {
    float: left;
}

.panel-header img {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding-right: 10px;
}

.panel-header .panel-title {
    float: left;
    vertical-align: middle;
    font-size: 12pt;
}

.panel-header .info-icon {
    float: right;
}

/* *** Wrapper around form fields *** */

.componentContainer {
    clear: both;
    float: left;
    width: auto;
    height: auto;
    padding-bottom: 10px;
}

/* *** Submission buttons *** */

.button {
    background-image: url("../img/button.png");
    width: 113px;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 8pt;
    font-weight: bold;
    float: left;
}

.button:hover {
    background-image: url("../img/button-hover.png");
    color: #32c1ce;
}

/* *** Results and file selection containers *** */

.results, .selection-wrapper {
    border: 1px solid #7bd8e0;
    float: left;
}

.space {
    width: 25px;
    float: left;
}

/* *** Results section *** */

.result-scroll {
    overflow-x: scroll;
    width: 388px;
}

.result-line {
    clear: both;
    width: 388px;
    font-size: 8pt;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.odd {
    background-color: #f3f3f3;
}

.result-line .number {
    float: left;
    text-align: right;
    padding-right: 10px;
    width: 25px;
}

.stat {
    clear: both;
    font-size: 8pt;
    width: 190px;
    padding: 5px;
}

.stat-name {
    float: left;
    width: 120px;
}

.stat-value {
    float: left;
}

a {
    color: #7bd8e0;
}

.header, .footer {
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: #fcfcfc;
    padding-left: 20px;
}

.header {
    border-bottom: 1px solid #dadada;
}

.footer {
    border-top: 1px solid #dadada;
}

/* *** File selection section *** */

.selection-wrapper {
    width: 296px;
}

.selection-wrapper .selection {
    overflow: auto;
    height: 560px;
    font-size: 9pt;
}

.selection-wrapper .selection li {
    list-style-type: square;
    color: #7bd8e0;
}

.selection-wrapper .selection li span {
    color: #000000;
}

.selection-wrapper .button {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.browser {
    width: 276px;
    height: 493px;
    overflow: auto;
    padding-left: 20px;
    padding-top: 15px;
}

/* *** Documentation panel *** */

.documentation {
    background-color: #000000;
    color: #ffffff; 
    display: none;
    position: absolute;
    width: 470px;
    left: 420px;
    top: 90px;
    padding: 10px;
}

.documentation table {
    max-width: 600px;
    border-collapse: collapse;
}

.documentation table, th, td {
    border: 1px solid white;
}

.documentation li {
    list-style-type: square;
    color: #7bd8e0;
}

.documentation li span {
    color: #ffffff;
}

.documentation-arrow {
    display: none;
    position: absolute;
    left: 910px;
    top: 110px;
}

