<html xmlns:wicket>
    <wicket:head>
        <style>
        </style>
    </wicket:head>
	<wicket:panel>
        <div class="ui-accordion ui-widget ui-helper-reset">
            <h3 class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                <span class="ui-icon ui-icon-info docicon"></span><span class="text">Help</span>
            </h3>
            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                <div class="documentation" wicket:id="doc"></div>
            </div>
        </div>
    </wicket:panel>
</html>
