<html xmlns:wicket>
    <wicket:head>
        <style>
        </style>
    </wicket:head>
	<wicket:panel>
        <div class="results">
            <div class="header">Analytics Results</div>
            <div wicket:id="results" class="result-line">               
                <div wicket:id="line#" class="number">1</div> 
                <span wicket:id="line">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </span>  
            </div>
            <div class="footer">
                <span wicket:id="nav"></span>
            </div>
       </div>
        <div class="space">&nbsp;</div>
	    <div class="results">
	        <div class="header">RYFT ONE Performance</div>
			<div wicket:id="statistics" class="stat">
				<div wicket:id="name" class="stat-name">name</div>
				<div wicket:id="value" class="stat-value">value</div>
			</div>
			<div class="stat"><a wicket:id="outputFile" href="#">Output file</a></div>
            <div class="stat"><a wicket:id="indexFile" href="#">Index file</a></div>
	   </div>
    </wicket:panel>
</html>
